.contact_information_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: none;
    border-left: none;
    border-top: none;

    height: 100vh;

    & p{
        font-size: 20px;
        color: white;
    }
}

.contact_information_images_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & img {
        height: 60px;
        transition: 0.3s;
    }

    & img:hover {
        transform: scale(1.1);
        opacity: 0.7;
    }
}


@media screen and (max-width: 850px) {

    .contact_information_flex{
        & p{
            font-size: 17px;
        }
    }
}